---
import Layout from "../layouts/Layout.astro";
---
<Layout title="">
  <main class="container">
    <img src="logo.png" alt="" srcset="">
    <h2>Unsere Leistungen</h2>
    <div class="services">Digitalisierung & KI</div>
    <div class="services">Projektmanagement</div>
    <div class="services">Softwareentwicklung</div>
    <br>
    <h4>Kontaktieren sie uns</h4>
    <a href="mailto:kontakt@wolken-antrieb.de">kontakt@wolken-antrieb.de</a>
  </main>
</Layout>

<style>
  main {
    text-align: center;
  }

  h2, h4 {
    margin: 0.5rem;
  }

  .services {
    font-size: 20px;
  }

</style>
